/* Common CSS starts */
:root {
    --primary: #3FB1BD;
    --secondary: #6F568F;
    --black: #000;
    --white: #fff;
    --chip:  #f1f1f1;
}

body {
    background-color: #FCFCFC;
    color: #46484d;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.vertical-spacing {
    padding: 20px 0px;
}

/* Common CSS ends */

.heading {
    background-color: var(--primary);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

.sub-heading {
    font-size: 20px;
    color: var(--white);
}

.middle-section {
    max-width: 800px;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-image {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
}

.about-text {
    padding: 0 15px;
    font-size: 1.2rem;
    flex: 200px;
}

/* .about-content {
    margin: 0px;
} */

/* .skills {
    background-color: var(--primary);
} */

.skills-section {
    background-color: var(--primary);
}

.skills-block {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.skills-block > * {
    max-width: 250px;
}

.skill-icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

.chip li {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: var(--chip);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
}

.contact-icon {
    color: var(--white);
    padding-left: 8px;
}