/* Common CSS starts */
body {
    background-color: #FCFCFC;
    color: #46484d;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.vertical-spacing {
    padding: 20px 0px;
}

/* Common CSS ends */

.heading {
    background-color: #3FB1BD;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.sub-heading {
    font-size: 20px;
    color: white;
}

.app-main-area {
    display: flex;
    justify-content: center;
}

.middle-section {
    max-width: 800px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-image {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
}

.about-text {
    padding: 0 15px;
    font-size: 1.2rem;
    flex: 200px;
}

/* .about-content {
    margin: 0px;
} */

/* .skills {
    
} */

.chip li {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6F568F;
    color: white;
}

.contact-icon {
    color: white;
    padding-left: 8px;
}